.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.eventLink {
  text-decoration: none;
  color: inherit;
}

.eventLink:hover h2 {
  color: #0066cc;
  text-decoration: underline;
}